@import '../../css/style.css';

/* Reset & Scaffolding */
body {
    background-color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Main Content Area */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: left;
}